.hero {
    background-image: url('/image/m-1.jpg');
    background-size: cover;
    background-position: center;
    color: #e5e8e6;
    text-align: center;
    padding: 200px 0;
    margin-bottom: 20px;
    justify-content: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Dancing Script';
}

.hero p {
    font-size: 24px;
    margin-bottom: 10px;
}

.testimonials-section {
    background-color: #fff;
    padding: 50px 0;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.testimonial {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial img {
    width: 100px;
    height: auto;
    border-radius: 16%;
    margin-bottom: 15px;
}

.testimonial img:hover {
    transform: scale(1.1);
}

.testimonial p {
    font-size: 16px;
    margin-bottom: 10px;
}

.testimonial cite {
    font-style: italic;
    font-size: 14px;
    color: #777;
}

.button-73 {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-73:hover {
    background-color: #024dbc;
    box-shadow: #0fd1f3 0 -6px 8px inset;
    transform: scale(1.125);
}

.button-73:active {
    transform: scale(1.025);
}

@media (min-width: 768px) {
    .button-73 {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }
}